@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "AdminEmployeesPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div id="modal-placeholder"></div>*@

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="">Employee List</h3>
        <div class="p-3 text-dark">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
                <i class="fa-solid fa-square-plus fa-xl"></i> Add Employee
            </button>
        </div>
    </div>

    <table class="table table-responsive table-striped w-100" id="adminEmployeesList">
        <thead>
            <tr class="w-auto">
                <th class="w-auto">First Name</th>
                <th class="w-auto">Last Name</th>
                <th class="w-auto">Email</th>
                <th class="w-auto">Gender</th>
                <th class="w-auto">Services</th>
                <th class="w-auto">Schedule</th>
                <th>Employee Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr class="w-auto align-middle">
                    <td class="w-auto">@e.Employee.FirstName</td>
                    <td class="w-auto">@e.Employee.LastName</td>
                    <td class="w-auto">@e.Employee.EmailAddress</td>
                    <td class="w-auto">@e.Employee.Gender</td>
                    <td class="w-auto">
                        <a class="m-1 btn" data-bs-toggle="modal" data-bs-target="@("#employeeServicesModal-" + e.Employee.EmployeeId)" data-bs-url="@Url.Action($"EditEmployeeServices/{e.Employee.EmployeeId}")">
                            <i class="fa-solid fa-book-open-reader fa-xl"></i>
                        </a>
                        @await Html.PartialAsync("~/Views/Admin/_EmployeeServicesPartialView.cshtml", e)
                    </td>
                    <td class="w-auto">Schedules?</td>
                    <td>
                        <a class="m-1 btn btn-warning" data-bs-toggle="modal" data-bs-target="@("#editEmployeeModal-" + e.Employee.EmployeeId)" data-bs-url="@Url.Action($"EditEmployee/{e.Employee.EmployeeId}")">Edit Employee</a>
                        @await Html.PartialAsync("~/Views/Admin/_EditEmployeePartialView.cshtml", e.Employee)

                        <a class="m-1 btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#deleteEmployeeModal-" + e.Employee.EmployeeId)" data-bs-url="@Url.Action($"DeleteEmployee/{e.Employee.EmployeeId}")">Delete Employee</a>
                        @await Html.PartialAsync("~/Views/Admin/_DeleteEmployeePartialView.cshtml", e.Employee)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@await Html.PartialAsync("~/Views/Admin/_AddEmployeePartialView.cshtml", new Employee())
